doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/components/jquery/dist/jquery.js')
    script(src='javascripts/login.js')
  body
    block content
