body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.frame {
  width: 130px;
  margin: 40px auto 0px;
}

.success {
  color: green;
  text-align: center;
}